@import "tailwindcss";

@theme {
  --color-brand: #7c3aed;
  --color-brand-dark: #6d28d9;
  --color-brand-light: #f5f3ff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}